@charset "UTF-8";

body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background: url(../img/bg.png) no-repeat;
}

#header {
	width: 100%;
	background: #fff;
}

#header:after {
	content: "";
	background: #0D72A6;
	height: 5px;
	width: 100%;
}

/*----------------------hTop-----------------------*/
#header .hTop {
	background: url(../img/header.png);
	padding: 10px 0;
}

#header .hTop .hTopWrap,
#header .hNav .hNavWrap {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

#header .hTop .hTopWrap .logo {
	background: url(../img/logo.png) no-repeat;
	text-indent: -9999px;
	width: 130px;
	display: block;
	float: left;
}

#header .hTop .hTopWrap .field {
	background: #fff;
	border-radius: 207px;
	width: 290px;
	height: 30px;
	float: left;
	margin: 6px 110px 0 110px;
	position: relative;
}

#header .hTop .hTopWrap .field h4 {
	position: absolute;
	left: 14px;
	top: 5px;
}

#header .hTop .hTopWrap .field input {
	height: 30px;
	position: absolute;
	right: 40px;
	top: px;
	border: 0 none;
}

#header .hTop .hTopWrap .field input:focus {
	border: none;
}

#header .hTop .hTopWrap .field .btn-search {
	width: 30px;
	height: 30px;
	position: absolute;
	border: 0 none;
	background-image: url(../img/search.png) !important;
	background: #fff;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
	border-radius: 50%;
	cursor: pointer;
	right: 5px;
}

#header .hTop .hTopWrap .tel {
	color: #fff;
	float: left;
	margin-top: 4px;
}

#header .hTop .hTopWrap .sns {
	float: right;
	margin-top: 9px;
}

#header .hTop .hTopWrap .sns li {
	float: right;
	margin-left: 5px;
}

/*----------------------hNav-----------------------*/

#header .hNav {
	background: #fff;
}

#header .hNav ul li {
	float: left;
	width: calc(100%/6);
	text-align: center;
	padding: 20px;
	position: relative;
}

#header .hNav ul li a {
	display: block;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	transition: .2s;
}

#header .hNav ul li .bar {
	position: absolute;
	width: 100%;
	height: 8px;
	background: #7ee1ff;
	left: 0;
	bottom: 0;
	transform: scaleX(0);
	transition: .3s;
	transform-origin: 50 0%;
}

#header .hNav ul li:hover .bar {
	transform: scaleX(1);
	transform-origin: 50% 100%;
}

#header .hNav ul li:hover a {
	color: #3ac7f2;
}

/*----------------------content-----------------------*/

#container {
	width: 980px;
	margin: 0 auto;
}

#container .topCont {position: relative;
	background: url(../img/titleBalloon.png) no-repeat 100% 100%; background-position:top right;
	background-size: 70%; transition: .3s;
	
	animation-name: bal01;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes bal01{
	to {
		background-position:bottom right;
	}
}

#container .subCont .scWrap li {
	width: 233px;
	height: 240px;
}

/*-------------------topCont--------------------*/

#container .topCont .tsWrap {
	float: left;
	width: 482px;
	position: relative;
	overflow: hidden;
}

#container .topCont .tsWrap form {
	height: 301px;z-index: 1;
}

#container .topCont .tsWrap fieldset {
	float: right;
	width: 350px;
	height: 100%;
	padding: 15px;
	border: none;
	background: #fff;
}

#container .topCont .tsWrap legend {
	display: block;
	position: absolute;
	left: 0;
	top: -99999px;
}

#container .topCont .tsWrap label {
	display: block;
	padding: 5px 0;
}

#container .topCont .tsWrap select,
#container .topCont .tsWrap .left input,
#container .topCont .tsWrap .right input
{
	display: block;
	width: 150px;
	height: 40px;
	font-size: 1rem;
	text-indent: 8px;
	border-radius: 5px;
	border: 3px solid #EDEDED;
	line-height: 40px;
	
}
#container .topCont .tsWrap .left {float: left;}
#container .topCont .tsWrap .right {float: right;} 

#container .topCont .tsWrap #golo {width: 100%;}
#container .topCont .tsWrap .right #adult,
#container .topCont .tsWrap .right #kid {width: 70px;}
#container .topCont .tsWrap .right #adult {margin-right: 10px;}
#container .topCont .btn-search {
	width: 100%;height: 40px;
	margin-top: 15px;
	border-radius: 5px; background: #ff8000;border: none;color: #fff;background-image:url(../img/search2.png)!important;
	background-repeat: no-repeat;
	background-position: 104px 13px;
	
}
#container .topCont .tsWrap .sliderTab {
	position: absolute;left: 0;top: 0;height: 301px;}
#container .topCont .tsWrap .sliderTab a:nth-child(2){background:url(../img/block.png)}
#container .topCont .tsWrap .sliderTab a {background: #0099CB;}
#container .topCont .tsWrap .sliderTab a {
	display: block;
	width: 130px;
	text-align: center;
	color: #fff;
	height: calc(100%/4);
	font-weight: bold;
	line-height: 75px;
}
#container .topCont .tsWrap .sliderTab a:hover,
#container .topCont .tsWrap .sliderTab a.active {color: #000;}
#container .topCont .tsWrap .sliderTab a:hover span,
#container .topCont .tsWrap .sliderTab a.active span {color: #0066A6;}

#container .topCont .tsWrap .sliderTab a.active,
#container .topCont .tsWrap .sliderTab a:hover {background:white;}
/*--------------------------------------------------------*/

#container .topCont .box li:nth-child(1) {
	float: left;
}

#container .topCont .box li:nth-child(2) {
	float: right;
}

#container .topCont .box li p {
	display: block;
	color: #fff;
	background: #152630;
	width: 233px;
	height: 50px;
	line-height: 50px;
	text-align: right;
	padding-right: 15px;
	font-size: 18px;
	position: absolute;
	bottom: 0;
}

#container .topCont h1 {
	float: left;
	margin-left: 40px;
}

/*-------------------subCont--------------------*/
#container .subCont .scWrap li {
	background: rgb(2, 7, 21);
	float: left;
	margin-right: 15px;
}

#container .subCont .scWrap li:nth-child(4),
#container .subCont .scWrap li:nth-child(8) {
	margin-right: 0;
}

#container .subCont .scWrap li:nth-child(1),
#container .subCont .scWrap li:nth-child(2),
#container .subCont .scWrap li:nth-child(3),
#container .subCont .scWrap li:nth-child(4) {
	margin-bottom: 15px;
}

/*------------------------------------------------*/
#container .subCont a {
	display: block;
}

#container .subCont .aTitle {
	display: block;
	color: #fff;
	width: 233px;
	height: 65px;
	padding: 15px;
	line-height: 20px;
	text-align: left;
	font-size: 18px;
	position: absolute;
	letter-spacing: -0.06em;
	bottom: 0;
}

#container .subCont .box03 .slider01 li,
#container .subCont .box04 .slider02 li,
#container .subCont .box05,
#container .subCont .box06 {
	position: relative;
}

#container .subCont .box03 .slider01 li p,
#container .subCont .box04 .slider02 li p {
	background: #152630;
}


#container .subCont .box05 p {
	background: rgba(0, 0, 0, 0.56);
}

#container .subCont .box06 .wrap06 {
	position: absolute;
	top: 10px;
	left: 5px;
	padding: 10px;
	letter-spacing: -0.06em;
	font-size: 15px;
	color: #000;
	font-weight: 600;
}

#container .subCont .box06 .wrap06 .star {
	color: #E2A200;
	font-weight: bold;
}
#container .subCont .box07

/*-------------------footer--------------------*/
#footer {
	height: 90px;
}

#footer .fWrap {
	width: 980px;
	margin: 0 auto;
}
